<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Payment</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/payment">Payment</a></li>
              <li class="breadcrumb-item active">Edit</li>
            
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
       
              <!-- /.card-header -->
              <div class="card-body">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Form edit payment</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/payment/edit/<%= payment._id %>?_method=PUT" method="POST">
                <div class="card-body">

                  <div class="form-group">
                    <label for="type">Jenis Pembayaran</label>
                    <select type="text" name="type" class="form-control" id="type" placeholder="Masukan jenis pembayaran" required>
                    <option value="" selected>Pilih pembayran</option>
                    <option value="Cash" 
                    <% if(payment.type === 'Cash') { %>
                      selected
                    <% } %> 
                    >Cash</option>
                    <option value="Visa" 
                    <% if(payment.type === 'Visa') { %>
                      selected
                    <% } %> 
                    >Visa</option>
                    <option value="Debit"
                      <% if(payment.type === 'Transfer') { %>
                      selected
                    <% } %> >Transfer</option>
                    <option value="Credit"
                      <% if(payment.type === 'Credit') { %>
                      selected
                    <% } %> >Credit</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="banks">Bank</label>
                    <select 
                    name="banks" 
                    class="form-control" 
                    id="banks" 
                    data-placeholder="Pilih jenis bank" 
                    required>
                    <!-- <option value="" selected></option> -->
                 <% banks.forEach(bank => { %>
                          <option value="<%= bank._id  %>"
                            <% payment.banks.forEach(paymentBanks => {%>
                              <% if(bank._id.toString() === paymentBanks._id.toString()) { %>
                                selected
                              <% } %> 
                           <% }) %> 
                           >
                            <%= bank.name %>-<%= bank.nameBank %>-<%= bank.noRekening %> 
                          </option>
                          <% }); %>
                          </select>
                     </div>
              
                </div>
                    <div class="card-footer">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Simpan</button>
                  <button type="submit" class="btn btn-secondary"><a href="/payment" style="color: white" ><i class="fa fa-undo"></i>Cancel</a></button>
                </div>

               

              </form>
            </div>
        </div>
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  
<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>