<table id="example2" class="table table-bordered table-hover table-striped" style="width: 100%">
  <thead>
    <tr>
      <th style="width: 7%">No</th>
      <th>Nama</th>
      <th>Email</th>
      <th>No telphone</th>
      <th>Role</th>
      <th>Status</th>
      <th style="width: 19%">Actions</th>
    </tr>
    <tbody>
    <% for(let i = 0; i < user.length; i++){ %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= user[i].name %></td>
      <td><%= user[i].email%></td>
      <td><%= user[i].phoneNumber%></td>
      <td><%= user[i].role%></td>
      <td><%= user[i].status%></td>
      <!-- button -->
      <td style="text-align: center">
        <form action="/signup/delete/<%= user[i]._id %>?_method=DELETE" method="POST" style="display: inline-block">
          <a href="/signup/edit/<%= user[i]._id %>" class="btn btn-warning">
            <i class="fas fa-pencil-alt"></i>
            Edit
          </a>
          <button href="" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
            Delete
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
  </thead>
</table>
